#search{
	width: 321px;
	border-radius: 12px;
	padding: 4px;
}
.highlighted { color: red }
#someFunction{
	margin: 5px;
	border-radius: 16px;
	background: whitesmoke;
}
#someFunction:hover{
	background: #dbe0fb;
}
#container{
	position: absolute;
}
#avatar{
	width: 150px;
	height: 150px;
	float: left;
	border-radius: 50%;
	margin-right: 25px;
	position: absolute;
	left: -146px;
	top: 34px;
}